@font-face { 
    font-family: Elgoc; 
    src: url('./Elgoc Thin/Elgoc Thin/Elgoc-Thin.otf'); 
} 

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    border: 0;
    font-size: 100%;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

p, h1, h2, h3, h4 {
    font-family: Elgoc !important;
}

/** HERO **/

#hero {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 90vh;
}

.hero-title {
    z-index: 11;
    font-size: 7em;
    color: #fff;
    font-size: 94px;
    line-height: 92%;
    margin-right: -5px;
    text-align: center;
    position: relative;
}

/** CONTACT **/

h2 {
    max-width: 800px;
    text-align: center;
    font-size: 5em;
    color: #FFF;
}

p {
    max-width: 600px;
    margin-top: 1em;
    text-align: center;
    font-size: 30px;
    color: #FFF;
}


/** GRADIENT BACKGROUND **/

.animatedwrapper {
    overflow: hidden;
    position: absolute;
    right: 0px;
    /* top: -100px; */
    z-index: 0;
    width: 100%;
    height: 100%;
    isolation: isolate;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* 
    Add fallback background here
    background: url();
    */
}

.content--canvas canvas { 
    z-index: -1; 
    position: absolute!important;
    display: none; 
}

@media only screen and (max-width: 600px) {
  .dot {
    --size: 400px !important;
        top: 0em !important;
   }
  
  h2 {
    font-size: 3em  !important;
   }
}

.dot {
   --size: 750px;
    top: -3em;
    display: none;
    position: absolute;
    width: var(--size);
    height: var(--size);
    mix-blend-mode: soft-light;
    border-radius: var(--size);
    filter: blur(calc(var(--size) / 4));
    animation: dot-animation ease-in-out 20s infinite;
    will-change: transform;
}

@supports (mix-blend-mode: soft-light) and (filter: blur(1px)) {
    .animatedwrapper {
        /* Remove the fallback background image when the features are supported */
        background: none;
    }

    .dot {
        /* Only show the animated dots for browsers that support the required features */
        display: block;
    }
}
    
.dot--one {
    background: #FE9065;
    /* --size: 69vw;
    top: 5em;
    /* height: 100%; */
    /* left: 20%; */
}

.dot--two {
    background: #FE9065;
    animation-delay: -7s;
    /* --size: 69vw;
    top: 5em;
    /* height: 100%; */
    /* left: 20%; */
}

.dot--three {
    background: #FE9065;
    animation-delay: -16s;
}
   
@keyframes dot-animation {
    0% {
        transform: translate(0, 0);
    }
    33% {
        transform: translate(calc(var(--size) / 1.5), 0);
    }
    66% {
        transform: translate(0, calc(var(--size) / 1.5));
    }
    100% {
        transform: translate(0, 0);
    }
}

/** SELECTED PROJECTS **/

span.gallery__item-title {
    font-weight: 700;
}

/** FOOTER **/

.footer-graphic__title {
    font-size: 15vh !important;
    line-height: 92%;
    margin-right: -5px;
    text-align: center;
}

.footer {
    display: flex;
    margin-top: 121px;
    width: 100%;
}

.footer-graphic {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 68px;
    padding-left: 5.2631578947%;
    padding-right: 5.2631578947%;
}

.footer__nav {
    align-items: center;
    border-top: 1px solid hsla(0,0%,59%,.4);
    display: flex;
    justify-content: space-between;
    padding-bottom: 51px;
    padding-top: 47px;
    width: 100%;
}

.footer__inner {
    position: relative;
    width: 100%;
}

.footer-menu {
    display: flex;
}

.footer-menu li {
    display: inline-flex;
    margin-right: 26px;
}

.footer-graphic__logo {
    display: block;
    margin-top: 18px;
    max-width: 320px;
    width: 100%;
    height: 100%;
}

.social-menu__item-img {
    display: inline-block;
    height: 32px;
    width: auto;
}

.social-menu__item-link {
    padding-left: 10px;
    padding-right: 10px;
    transition: opacity .35s cubic-bezier(.165,.84,.44,1);
}